<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAILWAY_BOOKING</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"></head>
<body>
    <!-- <button><a href="/login_trvl">Add_traveller</a></button> -->
    <button><a href="/new">Go back</a></button>

    <table>
        <tr>
            <th>Traveller_name</th>
            <th>From_where</th>
            <th>To_where</th>
            <th>Departure_time</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
        {% for delist in delists %}
        <tr>
        <td>{{delist.traveller_name}}</td>
        <td>{{delist.from_where}}</td>
        <td>{{delist.to_where}}</td>
        <td>{{delist.departure_time}}</td>
    
        <td><a href="{{ url_for( 'customer_details', id=delist.ID)}}">Details</a></td>
        <td><a href="{{ url_for( 'edit_customer', id=delist.ID)}}">Edit</a></td>
        <td><a href="{{ url_for( 'delete_customer', id=delist.ID)}}">Delete</a></td>
        </tr>
    {% endfor %}

    </table>
    <br>
    <br>
    <a href="/hack" method ="POST"><button>Check your <b>message</b></button></a>

</body>
</html>