<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAILWAY_BOOKING</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!-- <a href="/system"><button >back</button></a> -->
<div class="std_reg">
        <a href=""><img src="/static/pictures/main_icon.png" class="logo" alt="home button"></a>
        <a href="/system" ><button class="clue"><span>back <br>&#8594 &#8594</span></button></a>
        <h2 class="flask" style="padding-top: 5%;">WELCOME <span>{{verify.name}}</span><br><br></h2>
        <center><br>
          
        <h1 style="font-size: 5vh;">DO YOUR BOOKINGS.</h1>
        <form action="/trvl_d" method="POST">

        <br>
        <br>
            <input type="text" class="box"  name="traveller_name" placeholder="traveller_name">
            <br><br>
            <input type="text" class="box"  name="from_where" placeholder="from_where">
            <br><br>
            <input type="text"class="box"  name="to_where" placeholder="to_where">
            <br><br>
            <input type="date" class="bos"   name="departure_time">
            <br><br>
            <input type="submit" class="box" value="submit">
            <br>
        </center>
        </form>
    </div><hr style="background-color:2px black;">
       <div class="student">
        <center>
            <p class="p_tag">Do you have error in your details.. please contact the admin</p><br><a href="/range" ><button class="reg">Admin</button></a>
        </center>
           <br>
    </div>
    <div class="footer">
        <center><h2 style="color: black;">YOUR JOURNEY IS IN GODS HAND...</h2></center>
        <center><p><b> </p></center>
    </div>
           
</body>
</html>